@model FooQueueIn
@inject IOptions<AzureQueueOptions> AzureQueueOptions

@{
    var queues = AzureQueueOptions.Value.Lookup.Keys;
}

<h1>@T["Registered Queues"]</h1>
<ul class="list-group">
    @if (AzureQueueOptions.Value.Lookup.Any())
    {
        <li class="list-group-item bg-primary">
            <div class="row">
                <div class="col-4">Name</div>
                <div class="col-4">Display Name</div>
                <div class="col-4">Type</div>
            </div>   
        </li>
    }
    @foreach(var queue in AzureQueueOptions.Value.Lookup)
    {
        <li class="list-group-item">
            <div class="row">                            
                <div class="col-4">@queue.Value.Name</div>
                <div class="col-4">@queue.Value.DisplayName</div>
                <div class="col-4">@queue.Value.Type.Name</div>
            </div>
        </li>
    }
</ul>

<h3 class="mt-3">@T["Send messages to FooQueueIn"]</h3>

<form asp-action="SendMessage" method="post">
    <div class="form-group">
        <label asp-for="@Model.Value">Message value</label>
        <input asp-for="@Model.Value" class="form-control"/>
        <button type="submit" class="btn btn-success mt-3">@T["Send Message"]</button>
    </div>
</form>